NAME=WINDOW BOT
AVATAR=https://www.google.com/url?sa=i&url=https%3A%2F%2Frecreio.com.br%2Fnoticias%2Fentretenimento%2Fquando-bob-esponja-nasceu-e-quantos-anos-ele-tem.phtml&psig=AOvVaw3Oif5ibi7F8wdbZzAvgOsl&ust=1745283264498000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLDw7vn054wDFQAAAAAdAAAAABAE
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools
